:root {
  --primary: #600068;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
}
.btn {
  border: 2px solid var(--primary);
  color: var(--primary);
  background: transparent;
  padding: 0.25rem;
}
.bg-white {
  background: white;
}
.mg-btm {
  margin-bottom: 1rem;
}
.page-title {
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  filter: drop-shadow(2px 2px 0px yellow);
  writing-mode: vertical-lr;
}